In [4]:
#Import packages and read the data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
path=r'Visadataset - Visadataset.csv'
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [8]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [9]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

$prevailingwage$

In [10]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [11]:
len(visa_df['prevailing_wage'])

25480

In [16]:
visa_df['prevailing_wage'].count()

25480

$mean$

In [23]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [19]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

$median$

In [20]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [21]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

$max$

In [27]:
visa_df['prevailing_wage'].max()

319210.27

In [28]:
np.max(visa_df['prevailing_wage'])

319210.27

$min$

In [30]:
visa_df['prevailing_wage'].min()

2.1367

In [32]:
np.min(visa_df['prevailing_wage'])

2.1367

$std$

In [34]:
visa_df['prevailing_wage'].std()

52815.94232687357