In [3]:
import pandas as pd # Dataframe operations
import numpy as np # Math operations
import matplotlib.pyplot as plt # Diagrams / plots
import seaborn as sns

In [4]:
path=r"train_ctrUa4K.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [5]:
path=r"train_ctrUa4K.csv"
pd.read_csv(path,
           sep=';')

    Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0    LP001002,Male,No,0,Graduate,No,5849,0,,360,1,U...
1    LP001003,Male,Yes,1,Graduate,No,4583,1508,128,...
2    LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360...
3    LP001006,Male,Yes,0,Not Graduate,No,2583,2358,...
4    LP001008,Male,No,0,Graduate,No,6000,0,141,360,...
..                                                 ...
609  LP002978,Female,No,0,Graduate,No,2900,0,71,360...
610  LP002979,Male,Yes,3+,Graduate,No,4106,0,40,180...
611  LP002983,Male,Yes,1,Graduate,No,8072,240,253,3...
612  LP002984,Male,Yes,2,Graduate,No,7583,0,187,360...
613  LP002990,Female,No,0,Graduate,Yes,4583,0,133,3...

[614 rows x 1 columns]

$CREAT DATAFRAMES USING LIST$

In [6]:
name=['Ahmed','Zeeshan','Abrar']
age=[30,35,40]
name,age

(['Ahmed', 'Zeeshan', 'Abrar'], [30, 35, 40])

$step-1$

In [ ]:
pd.dataframe