In [ ]:
-how to read

-how many ways we can represent

-

In [2]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [3]:
type(l1)

list

##

In [4]:
l2=['apple','banana','cherry']
l2

['apple', 'banana', 'cherry']

In [5]:
l3=[1,2,3,'A','B','C']
l3

[1, 2, 3, 'A', 'B', 'C']

In [7]:
l4=[1,2,3,'A','B','C',10.5,True,(20+30j)]
l4

[1, 2, 3, 'A', 'B', 'C', 10.5, True, (20+30j)]

In [8]:
l5=[100,100,100]
l5

[100, 100, 100]

In [9]:
l6=[1,2,3,['A','B','C']]
l6

[1, 2, 3, ['A', 'B', 'C']]

In [11]:
l7=[_]
l7

[[[1, 2, 3, ['A', 'B', 'C']]]]

In [ ]:
-list is array

-that elements can be any data type

-hetrogeneous

-list allows duplicates

-

In [12]:
l1

# len
# max
# min
# sum

[1, 2, 3, 4]

In [14]:
len(l1),max(l1),min(l1),sum(l1)

(4, 4, 1, 10)

In [15]:
l2

['apple', 'banana', 'cherry']

In [18]:
len(l2),max(l2),min(l2),sum(l2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
len(l2),max(l2),min(l2)

(2, 'banana', 'apple')

In [22]:
sorted(l1)

[1, 2, 3, 4]

In [34]:
reversed(l1)

In [23]:
sorted(l2)

['apple', 'banana']

In [29]:
sorted("l3,reversed=True")

[',',
 '3',
 '=',
 'T',
 'd',
 'e',
 'e',
 'e',
 'e',
 'l',
 'r',
 'r',
 'r',
 's',
 'u',
 'v']

In [30]:
$reversed$

SyntaxError: invalid syntax (86380451.py, line 1)

In [ ]:
val=reversed(l1)

In [35]:
for i in val:
    print(i)

NameError: name 'val' is not defined

In [ ]:
concatenation

In [36]:
l1+l2

[1, 2, 3, 4, 'apple', 'banana']

In [37]:
l1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
   "in" operator

In [39]:
s1='python'
for i in s1:
    print(i)

p
y
t
h
o
n

In [40]:
for i in l1:
    print(i)

1
2
3
4

In [ ]:
**********index

In [ ]:
-6 -5 -4 -3 -2 -1
p  y  t  h  o  n
0  1  2  3  4  5

In [43]:
l2[0],l2[1]

('apple', 'banana')

In [49]:
for i in range(i):
    print(f"the positive index of 'apple' is,0")

the positive index of 'apple' is,0
the positive index of 'apple' is,0

In [50]:
for i in range(i):
    print(f"the negative index of 'apple' is,0" )

the negative index of 'apple' is,0

In [4]:
for i in range(i):
    print(f"the positive and negative index of 'apple' is,0")

NameError: name 'i' is not defined

In [ ]:
list1

# 20th session

In [4]:
list1=[1,2,3,['A','B']]
o1=list1[3]
o1[1]

list1[3][1]

'B'

In [8]:
list2='[['Apple','Banana']]
len(list2)

SyntaxError: unterminated string literal (detected at line 1) (3272791308.py, line 1)

In [19]:
list3=[['A','B',[1,20]]]
len(list3)
list3[0][2][1]

20

In [17]:
list4=['hyd',['A','B',[1,20]]]
len(list4)
list4[1][2][1]

20

In [33]:
list7=[[[[[[[['cherry',['Apple']]]]]]]]]
len(list7)
list7[0][0][0][0][0][0][0][1][0]

'Apple'

In [34]:
l1=['Hyd','Mumbai','Bhopal','Chennai']

#print the element which 




for i in l1:
    if len(i)>5:
        print(i)

Mumbai
Bhopal
Chennai

In [36]:
l1=['Hyd','Mumbai','Bhopal','Chennai']

for i in l1:
    print(i.upper())

HYD
MUMBAI
BHOPAL
CHENNAI

l1=['Hyd','Mu#mbai','Bh#opal','Chennai']
for i in l1:
    if '#' not in i:
        print(i)

In [2]:
str1='hello my name is python'

l1=str1.split()
max(str1.split()),min(str1.split())
max(l1,key=len),min(l1,key=len)

('python', 'my')

In [ ]:
l2=['who is pm of india?'
      'what is capital of india?',
      'no of statess in india?',
      'who is the capitan of ICT']
    
ans=['modi','delhi','29','Rohit']

In [5]:
input=('who is pm of india?')
output=('modi')l1=['Hyd','Mumbai','Bhopal','Chennai']

In [12]:
l2=['who is pm of india?'
      'what is capital of india?',
      'no of statess in india?',
      'who is the capitan of ICT']
    
ans=['modi','delhi','29','Rohit']    

for i in l2:
    if 'who is the pm of india?':
        print('modi')

modi
modi
modi