$lambda$

In [ ]:
- Lambda functions is also a kind of functions representation

-more efficient way

In [1]:
def summ(num):
    return(num+10)

summ(10)


#function name is summ

20

In [ ]:
<function_name>=lambda <variable_name>:<retuen output>

In [8]:
summ=lambda num:num+10
summ(20)

30

In [9]:
def cube(numm):
    return(num*num*num)
summ(20)

30

In [1]:
def cube(num):
    return(num*num*num)

cube(10)

1000

In [4]:
cube=lambda num:num*num*num
cube(20)

8000

$two-arguments$

In [5]:
def add(n1,n2):
    return(n1+n2)
add(100,200)

300

In [9]:
add=lambda n1,n2:n1+n2
add(10,20)

30

In [12]:
mul=lambda n1,n2:n1*n2
mul(10,20)

200

In [16]:
def avg(n1,n2,n3):
    return(n1+n2+n3/3)
avg(10,20,30)

40.0

In [15]:
def avg(n1,n2,n3):
    return((n1+n2+n3)/3)
avg(100,200,300)

200.0

In [14]:
avg=lambda n1,n2,n3 :(n1+n2+n3)/3
avg(10,20,30)

20.0

In [17]:
avg=lambda n1,n2,n3=30 :(n1+n2+n3)/3
avg(10,20)

20.0

$if-else$

In [18]:
def max(n1,n2):
    if n1>n2:
        return(n1)
    else :
        return(n2)

max(100,200)

200

In [22]:
def max(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
    
max(10,20)

20

In [20]:
max=lambda n1,n2 :n1 if n1>n2  else n2
max(100,200)

200

In [ ]:
lambda <v1,v2,v3...>: <output>
if -else we need to write in a single
[<if_output> <if_con> else <else_ouput>]

<function_name>=lambda <var1,var2>:<if_output> <if_con> else <else_ouput>

In [23]:
max=lambda n1,n2 :n1 if n1>n2 else n2
max(10,20)

20

In [26]:
list1=['hyd','mumbai','chennai']
list2=['Hyd','Mumbai','Chennai']

#######################################################
list2=[]
for i in list1:
    list2.append(i.capitalize())

#######################################################
list2=[i.capitalize() for i in list1]
list2

['Hyd', 'Mumbai', 'Chennai']

$map$

In [34]:
list1=['hyd','mumbai','chennai']
list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [37]:
list1=['hyd','mumbai','chennai']
list2=['Hyd','Mumbai','Chennai']

#######################################################
list2=[]
for i in list1:
    list2.append(i.capitalize())

#######################################################
list2=[i.capitalize() for i in list1]
list2

############################################################
list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [38]:
list1=(1,2,3,4)

list(map(lambda i : i*i,list1))

[1, 4, 9, 16]

In [49]:

l1=('hyder#abad','mumb#ai','chenn#ai','puna','goa')

#######################################################
l2=[]
for i in l1:
    if '#' in i:
        l2.append(i)
    
l2   
#########################################################
l2=[i for i in l1 if '#' in i]
l2

['hyder#abad', 'mumb#ai', 'chenn#ai']

$filter$

In [52]:
l1=['hyder#abad','mum#bai','chenn#ai','blr','pune']
list(map(lambda i : '#' in i,l1))

[True, True, True, False, False]

In [53]:
l1=['hyder#abad','mum#bai','chenn#ai','blr','pune']
######################################################
list(map(lambda i : '#' in i,l1))

########################################################
list(filter(lambda i : '#' in i,l1))

['hyder#abad', 'mum#bai', 'chenn#ai']

In [1]:
def summ(num):
    return(num+10)

summ(10)

20

In [5]:
summ=lambda num:num+10
summ(10)

20

In [38]:
l1=['hyder#abad','mum#bai','chenn#ai','blr','pune']
list(map(lambda i : '#' in i,l1))

[True, True, True, False, False]