In [ ]:
d1={"Ramesh"}

In [ ]:
d1={"Ramesh":20,"Suresh":25,"Satish":30}
'Ramesh' in d1
20 in d1

In [8]:
for i in d1:
    print(i)

Ramesh
Suresh
Satish

In [2]:
d1={"Ramesh":20,"Suresh":25,"Satish":30}
d1['Ramesh']

20

$index$

In [18]:
d1={"Ramesh":20,"Suresh":25,"Satish":30}


d1['Ramesh']
d1['Suresh']
d1['Satish']

for i in d1:
    print(i,d1[i])

Ramesh 20
Suresh 25
Satish 30

In [19]:
names=['Ramesh','Suresh','satish']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
satish age is 30

In [21]:
names=['Ramesh','Suresh','satish']

for i,j in zip(names,age):
    print(f"{i} age is {d1[i]}")

Ramesh age is 20
Suresh age is 25

KeyError: 'satish'

In [ ]:
names=['Ramesh','Suresh','satish']

In [25]:
d1,l1,s1={},[],''
s1=s1+'a'
s1

'a'

In [24]:
d1={}
d1['evan']=[20,30,40]
d1['odd']=[31,33]
d1

{'evan': [20, 30, 40], 'odd': [31, 33]}

In [ ]:
d1={}
name=

In [ ]:
#wap ask the user generate 10 random numbrers
#ffind the even number and odd number
#output:
#{'even':[20,30,40],'odd':[35,45]

In [29]:
import random
even_list,odd_list,d1=[],[],{}
for i in range(10):
    num=random.randint(10,100)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)
        
d1['Even']=even_list
d1['Odd']=odd_list
d1

{'Even': [12, 44, 72, 58, 86], 'Odd': [75, 29, 89, 49, 73]}

In [50]:
s1='hello how are you, hello how im good, hello how what are you doing'

l1=s1.split()
l2=[]
d1=()
for i in l1:
    if i not in l2:
        d1[i]=l1.count(i)
        l2.append(i)
d1

TypeError: 'tuple' object does not support item assignment

In [56]:
d1={'fruites':[{'Apple':[50,150,300]},{'Banana':20}]}
d1['fruites'][0]['Apple'][2]

300

In [59]:
d1={'fruites':
   [{'Apple':[{50:'Normal',
              150:'Average',
              300:'Good'}]},
   {'Banana':20}]}
d1['fruites'][0]['Apple'][0][150]

'Average'

# 2/14 session-26

$get$

In [4]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d1.get('Ramesh')

20

In [6]:
d1['Ramesh']

20

In [8]:
d1={'Ramesh':20}
d2={'Suresh':30}
d2.update(d1)
d2

{'Suresh': 30, 'Ramesh': 20}